asgiref==3.5.2
async-timeout==4.0.2
Deprecated==1.2.13
Django==3.2
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
django-redis==5.2.0
django-simpleui==2022.7.29
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
loguru==0.6.0
mysqlclient==2.1.1
packaging==21.3
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
pytz==2022.2.1
redis==4.3.4
sqlparse==0.4.2
wrapt==1.14.1
